body {
  border: 8px solid #5c7a8a;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ECECEC;
  text-decoration: none;
  text-align: center;
}

h1 {
  font-family: 'Calligraffitti';
}

p {
  line-height: 1.8em;
  font-size: 18px;
  color: #383838;
}

#headshot {
  width:120px;
  margin: 150px;
}

::selection {
  background-color: #5d3b0e;
  color: #e7e598;
}

a {
  text-decoration: none;
  border-bottom: 2px solid #b77657;
}

a:hover {
  color: #40c2ed;
}