body {
  border: 8px solid #5c7a8a;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ECECEC;
  text-decoration: none;
  text-align: center;
}

p {
  line-height: 1.8em;
}

#headshot img {
  width:120px;
}

::selection {
  background-color: #5d3b0e;
  color: #e7e598;
}

a {
  border-bottom: 2px solid #b77657;
}