body {
  margin: 0;
  padding: 180px 32px;
  font-family: 'IBM Plex Mono', monospace;
  color: #ECECEC;
  background-color: #181818;
  text-decoration: none;
  text-align: center;
  min-width: 140px;
}

h1 {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin: 64px;
  display: block;
}

p {
  line-height: 2em;
  letter-spacing: 1px;
}

.callout {
  font-family: 'Covered By Your Grace', cursive;
  color: #585858;
  font-size: 22px;
  letter-spacing: 1px;
}

.callout a {
  color: #585858;
}

::selection {
  background-color: #5c7a8a;
  color: #ececec;
}

a {
  text-decoration: none;
  color:#ECECEC;
  border-bottom: 1px solid #5c7a8a;
  padding-bottom: 3px;
}

a:hover {
  color: #40c2ed;
}

#headshot {
  width:120px;
  margin-top: 150px;
  margin-bottom: 400px;
  transition: opacity 0.8s ease;
}

#headshot:hover, #headshot:active {
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

#top {
  padding-top: 48px;
}
