body {
  margin: auto;
  padding: 2rem;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: lighter;
  color: #333333;
  background-color: #F7F7F7;
  text-decoration: none;
  max-width: 36rem;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-weight: bold;;
  font-size: 1.5em;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: block;
  margin-top: 2em;
}

h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 3px;
  margin-top: 2em;
}

p {
  line-height: 1.68em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

li {
  line-height: 1.68em;
}

blockquote {
  border-left: 3px solid #5c7a8a;
  padding:0 2em;
  margin: 3em 2em;
}
.callout {
  font-family: 'Covered By Your Grace', cursive;
  color: #aaaaaa;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.callout a {
  color: #aaaaaa;
}

::selection {
  background-color: #5c7a8a;
  color: #ececec;
}

a {
  text-decoration: none;
  color:#333333;
  border-bottom: 1px solid #5c7a8a;
  padding-bottom: 3px;
}

a:hover {
  color: #5c7a8a;
}

.mutedNav {
  border: none;
  margin-bottom: 0.5em;
  color: #aaaaaa;
}

.mutedTime {
  margin-bottom: 2em;
  color: #aaaaaa;
}

#blogList {
  display: inline-grid;
}

#blogList a {
  margin: 0.5em 0;
  border: none;
}

.headshot img  {
  width:2em;
  margin-bottom: -1em;
}
